{{set . "title" "Home"}}
{{template "header.html" .}}

{{template "search.html" .}}

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>No</th>
                    <th>氏名</th>
                    <th>所属</th>
                    <th>担当・役職</th>
                    <th>メールアドレス</th>
                    <th>電話番号</th>
                    <th>入社月</th>
                    <th>誕生日</th>
                </tr>
            </thead>
        </table>
    </div>

{{template "footer.html" .}}